form{
    list-style: none;
    background: #ff5f555f;
    padding: 15px;
    margin: 15px;  
    border-radius: 15px;
}
main{
    padding: 30px 50px;
}
.card{
    list-style: none;
    background: #ff5f555f;
    padding: 15px;
    margin: 15px;  
    border-radius: 15px;
}
.lineInput{
    display: grid;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}
textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}
label{
    font-weight: bold;
}
button{
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: #eb5050;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}
button:hover{
    background-color: #cc3b3b;   
}
.content{
    background: #ff5f555f;
    margin-top: 15px;
    padding: 15px;
    margin: 15px;      
    border-radius: 15px;
}
table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
  
}
table th,td{
    background: white;
    text-align: left;
    padding: 1px 5px;
}
table td img{
    width: 22px;
}
.center{
    text-align: center;
}
